@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap')

*{
    margin: 0;
    padding: 0; 
}

.container{
    max-width: 80vw;
    font-family: "Nanum Gothic Coding", monospace;
}

.navbar{
    display: flex;
    height: 68px;

}

.navbar li{
    list-style: none;
    margin: 0 12px;
} 

.topleft{
    width: 50%;
    height: 50vh;
}

.topright{
    width: 50%;
    height: 50vh;
}

.section1{

}

.logo{
    font-size: 1.3rem;
}
